<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular2 architecture example</title>

    <!-- build:css /css/style.css -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body>
    <app>Loading...</app>
</body>


<!-- build:js /js/bootstrap<%= mocked ? '_mocked' : '' %>.js -->
<% if (dev) { %>
<script src="/js/libs/system.src.js"></script>
<script>
    System.config({
        defaultJSExtensions: true,
        paths: {
            'rxjs/add/observable/*' : 'node_modules/rxjs/add/observable/*.js',
            'rxjs/add/operator/*' : 'node_modules/rxjs/add/operator/*.js',
            'rxjs/*' : 'node_modules/rxjs/*.js'
        }
    });
</script>
<!-- it's much faster to load whole Angular2 than resolving and loading separate modules using SystemJS -->
<script src="/js/libs/angular2.js"></script>
<script src="/js/libs/http.js"></script>
<script src="/js/libs/router.js"></script>
<script>
    System.import('/js/bootstrap<%= mocked ? "_mocked" : "" %>').catch(console.log.bind(console));
</script>
<% } else { %>
<script src="/js/libs/Reflect.js"></script>
<script src="/js/libs/zone.js"></script>
<script src="/js/bootstrap<%= mocked ? '_mocked' : '' %>.js"></script>
<% } %>
<!-- endbuild -->


</html>