<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 well">
            <p class="text-center">
                <button class="btn" (click)="onUpdateIssues()">Update {{issuesPages * 100}} latest issues</button>
            </p>

            <div class="list-group">
                <div class="list-group-item"
                     *ngFor="#facet of facets"
                     [moreLess]="{on: facet.values.length, show: 5}" #MoreLess="moreLess">
                    <h5 class="list-group-item-heading">{{facet.name}}</h5>
                    <ul class="list-unstyled list-group-item-text">
                        <li *ngFor="#entry of facet.values | pureSlice:0:MoreLess.limit">
                            {{entry.name}}: {{entry.value}}
                        </li>
                    </ul>
                    <button class="btn btn-link btn-sm" *ngIf="MoreLess.hasToggle" (click)="MoreLess.toggle()">
                        <span *ngIf="MoreLess.isCollapsed">Show more</span>
                        <span *ngIf="!MoreLess.isCollapsed">Show less</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul>
                <!--<li *ngFor="#issue of issues">-->
                    <!--{{issue.title}}-->
                    <!--<br>-->
                    <!--{{issue.labelsDict | json}}-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>