<div class="angular-issues">
    <div class="row">
        <div class="angular-issues__controls">
            <div class="angular-issues__update-control-container">
                <button class="angular-issues__update-control" (click)="onUpdateIssues()">
                    Update {{issuesPages * 100}} latest issues
                </button>
            </div>

            <div class="angular-issues__filters">
                <div class="angular-issues__filter"
                     *ngFor="#facet of facets"
                     [moreLess]="{on: facet.values.length, show: 5}" #MoreLess="moreLess">
                    <h5 class="angular-issues__filter-heading">{{facet.name}}</h5>
                    <ul class="angular-issues__filter-values">
                        <li class="angular-issues__filter-value"
                            *ngFor="#entry of facet.values | pureSlice:0:MoreLess.limit">
                            {{entry.name}}: {{entry.value}}
                        </li>
                    </ul>
                    <button class="angular-issues__filter-more-less"
                            *ngIf="MoreLess.hasToggle" (click)="MoreLess.toggle()">
                        <span *ngIf="MoreLess.isCollapsed">Show more</span>
                        <span *ngIf="!MoreLess.isCollapsed">Show less</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul>
                <!--<li *ngFor="#issue of issues">-->
                    <!--{{issue.title}}-->
                    <!--<br>-->
                    <!--{{issue.labelsDict | json}}-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>